@page "/clockify-demo"
@using Clockify4PSIntegration.App.Clockify.Filters
@using Clockify4PSIntegration.App.Clockify.Responses
@using Clockify4PSIntegration.App.Clockify
@inject ClockifyService Clockify

<PageTitle>Clockify Demo</PageTitle>

<h1>Clockify Demo</h1>



@if(UserInfo is not null)
{
    <p>Hello, @UserInfo.Name</p>
}

<MudDataGrid Items="@Projects" Filterable="false" SortMode="@SortMode.None" Groupable="false">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Projects</MudText>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.Id" />
        <PropertyColumn Property="x => x.ClientId" />
        <PropertyColumn Property="x => x.ClientName" />
        <PropertyColumn Property="x => x.Archived" />
        <PropertyColumn Property="x => x.Note" />
        <PropertyColumn Property="x => x.Color" />
    </Columns>
</MudDataGrid>


<MudDataGrid Items="@TimeEntries" Filterable="false" SortMode="@SortMode.None" Groupable="false">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Time-Entries</MudText>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" />
        <PropertyColumn Property="x => x.Type" />
        <PropertyColumn Property="x => x.Description" />
        <PropertyColumn Property="x => x.ProjectId" />
        <PropertyColumn Property="x => x.TaskId" />
        <PropertyColumn Property="x => x.TagIds" />
        <PropertyColumn Property="x => x.TimeInterval.Start" />
        <PropertyColumn Property="x => x.TimeInterval.End" />
    </Columns>
</MudDataGrid>

@code {
    UserInfoResponse? UserInfo;
    List<ProjectResponse>? Projects;
    List<TimeEntryResponse>? TimeEntries;

    protected override async Task OnInitializedAsync()
    {
        UserInfo = await Clockify.GetUserInfoAsync();

        var filter = new TimeEntryRequestFilter(UserInfo.ActiveWorkspace, UserInfo.Id)
            {
                GetWeekBefore = new DateTime(2024, 10, 20)
            };

        TimeEntries = await Clockify.GetTimeEntriesAsync(filter);

        Projects = await Clockify.GetProjectsAsync(UserInfo.ActiveWorkspace);

        foreach (var work in TimeEntries.GroupBy(x => new { x.ProjectId, x.TaskId, x.Description }))
        {
            Console.WriteLine($"{work.Key.ProjectId}-{work.Key.TaskId}-{work.Key.Description }");

            foreach (var dateAndTimeWorked in work.GroupBy(
                                            x => x.TimeInterval.Start.Date, 
                                            (key, element) => new { Date = key, Time = new TimeSpan(element.Sum(x => (x.TimeInterval.End - x.TimeInterval.Start).Ticks)) }))
            {
                Console.WriteLine($"   - {dateAndTimeWorked.Date} : {dateAndTimeWorked.Time}");   
            }
        }
    }
}
