@page "/4ps-demo"
@using Clockify4PSIntegration.App.Api4PS.Responses
@using Clockify4PSIntegration.App.Api4PS;
@inject Api4PSService Api4PS

@if (UserInfo is not null)
{
    <h1>Hello, @UserInfo.DisplayName!</h1>
}

<MudDataGrid Items="@Projects" Filterable="false" SortMode="@SortMode.None" Groupable="false">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Projects</MudText>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Key" />
        <PropertyColumn Property="x => x.Code" />
        <PropertyColumn Property="x => x.CustomerName" />
        <PropertyColumn Property="x => x.Description" />
    </Columns>
</MudDataGrid>

<MudDataGrid Items="@Lines" Filterable="false" SortMode="@SortMode.None" Groupable="false">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Lines</MudText>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Key" />
        <PropertyColumn Property="x => x.LineNo" />
        <PropertyColumn Property="x => x.ObjectNo" />
        <PropertyColumn Property="x => x.ObjectDescription" />
        <PropertyColumn Property="x => x.Element" />
        <PropertyColumn Property="x => x.ElementDescription" />
        <PropertyColumn Property="x => x.TotalLine" />
        <PropertyColumn Property="x => x.Week" />
        <PropertyColumn Property="x => x.Year" />
        <PropertyColumn Property="x => x.Amount" />
        <PropertyColumn Property="x => x.CostObject" />
        <PropertyColumn Property="x => x.CostObjectDescription" />
        <PropertyColumn Property="x => x.Monday" />
        <PropertyColumn Property="x => x.Tuesday" />
        <PropertyColumn Property="x => x.Wednesday" />
        <PropertyColumn Property="x => x.Thursday" />
        <PropertyColumn Property="x => x.Friday" />
        <PropertyColumn Property="x => x.Saturday" />
        <PropertyColumn Property="x => x.Sunday" />
        <PropertyColumn Property="x => x.LineTemplateCode" />
        <PropertyColumn Property="x => x.LineTemplateDescription" />
        <PropertyColumn Property="x => x.LineType" />
        <PropertyColumn Property="x => x.Status" />
    </Columns>
</MudDataGrid>

@code {

    UserInfoResponse? UserInfo;
    ProjectResponse[]? Projects;
    LineResponse[]? Lines;

    protected override async Task OnInitializedAsync()
    {
        // var createLineRequest = new CreateLineRequest
        // {
        //     Year = 2024,
        //     Week = 42,
        //     ObjectNo = "PR61000479",
        //     Element = "00.00.0022",
        //     Comment = "Test comment demo",
        //     Monday = 1,
        //     Wednesday = 4,
        // };

        // await Api4PS.CreateLineAsync(createLineRequest);

        UserInfo = await Api4PS.GetUserInfoAsync();
        Projects = await Api4PS.GetProjectsAsync();
        Lines = await Api4PS.GetLinesAsync(2024, 42);
    }

}